.header {
    margin: 2rem 10%;
    padding: 1rem;
    text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ece1fa;
}

.logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #ece1fa;
}

.button {
  display: inline-flex;
  font: inherit;
  cursor: pointer;
  background-color: #801ab2;
  border: 1px solid #801ab2;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}